root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{sh,bash,zsh}]
indent_size = 2

[*.{lua,vim}]
indent_size = 2
max_line_length = 100

[*.{toml,yaml,yml,conf}]
indent_size = 2

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[{COMMIT_EDITMSG,MERGE_MSG,git-rebase-todo}]
indent_size = 2
max_line_length = 72

[{.gitattributes,.gitignore}]
indent_size = 2
max_line_length = 0
