[Unit]
Description=Bluetooth tray applet
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=sway-session.target
