[Unit]
Description=Wayland image clipboard history
PartOf=sway-session.target
Requires=cliphist-runtime.service
After=sway-session.target cliphist-runtime.service

[Service]
UMask=0077
ExecStart=/usr/bin/wl-paste --type image --watch /usr/bin/cliphist -db-path %t/cliphist/db store
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=sway-session.target
