[Unit]
Description=Wayland image clipboard history
PartOf=sway-session.target
After=sway-session.target

[Service]
UMask=0077
ExecStart=/usr/bin/wl-paste --type image --watch /usr/bin/cliphist -db-path %t/cliphist.db store
Restart=on-failure

[Install]
WantedBy=sway-session.target
