[Unit]
Description=Fcitx 5 input method
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/fcitx5 --replace
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=sway-session.target
