[Unit]
Description=Sway notification center
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/swaync
Restart=on-failure

[Install]
WantedBy=sway-session.target
